<div id="first-section" class="parallax">
    <div class="inner-hero d-flex">
        <div class="align-self-center text-center mx-auto">
            <h1 class="fw-bold">Ristorante Il Gambero Rosso</h1>
            <p>Delivering great food for more than 18 years!</p>
            <button routerLink="/menu" class="btn btn-success m-3">Our Menu</button>
            <button class="btn btn-success m-3">Book a Table</button>
        </div>
    </div>
</div>

<div id="second-section" class="container p-5">
    <h1 class="fw-bold text-center m-5">Ristorante Il Gambero Rosso</h1>
    <div class="row">
        <img  class="col-lg-6 col-12" src="https://cdn.pixabay.com/photo/2016/11/18/22/21/restaurant-1837150_1280.jpg" alt="restaurant outside">
        <div class="col-lg-6 col-12">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis obcaecati assumenda totam aspernatur tenetur fugiat enim voluptatibus quibusdam debitis facilis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quae enim non molestias accusamus iure veniam!</p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi repellendus molestiae officia necessitatibus neque.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius obcaecati odit, accusamus nulla officiis ullam dignissimos atque provident enim earum itaque magni aut quidem quisquam alias mollitia tenetur. Eligendi, exercitationem!</p>
        </div>
    </div>
</div>

<div id="third-section" class="bg-light text-center p-5">
    <h1>Why choose us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, dolore?</p>
    <div>
        <div class="row m-5 p-5">

            <div class="feature-box col-lg-4 col-12">
                <i class="bi bi-cash"></i>
                <h3>Affordable.</h3>
                <p>Lorem ipsum dolor sit.</p>
            </div>
    
            <div class="feature-box col-lg-4 col-12">
                <i class="bi bi-geo-alt-fill"></i>
                <h3>Your Neighbour.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
    
            <div class="feature-box col-lg-4 col-12">
                <i class="bi bi-car-front-fill"></i>
                <h3>Delivery Service.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
    
        </div>
    </div>
</div>

<div id="fourth-seciton" class="text-center p-5">
    <h1>Check our specials</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo corrupti a odit officiis sapiente!</p>
    <div class="row my-5">
        <div class="col-lg-3 col-12">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Modi sit est</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Unde praesentium sed</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Pariatur explicabo vel</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Nostrum qui quasi</a>
            <a class="list-group-item list-group-item-action" id="list-special-list" data-bs-toggle="list" href="#list-special" role="tab" aria-controls="list-special">lusto ut expedita aut</a>
          </div>
        </div>
        <div class="col-lg-5 col-12">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptates, accusamus quasi magni laudantium ad molestias magnam dolore tempora, repellendus earum laborum fuga facere rerum quidem possimus quas. Corporis, ad similique? Asperiores, aliquid itaque?</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis omnis dolores cumque porro impedit qui praesentium architecto quos, deleniti consectetur veniam non! Repellat veritatis odit quaerat odio voluptas, dolor optio tempore praesentium eligendi pariatur, laudantium non quae eum quas aliquam.</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste unde dolores dolore optio nisi, itaque similique quam incidunt iusto, laboriosam, eligendi facere rerum ullam tempora magnam iure esse earum nemo quod cumque hic quaerat eum animi asperiores? Dignissimos eos, dolores exercitationem ab itaque aliquam ea, debitis rerum quisquam illum doloribus?</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis minus reprehenderit harum, quidem expedita veniam nulla maxime ducimus voluptatem natus tenetur molestiae dolores sunt quaerat nostrum libero, veritatis pariatur corrupti ratione possimus incidunt fugit quia. Corporis reiciendis id, itaque doloremque sint, eveniet impedit praesentium ducimus tempore architecto aperiam. Voluptatem, iure. Placeat necessitatibus odio aspernatur tempore incidunt optio, molestias mollitia nobis!</div>
            <div class="tab-pane fade" id="list-special" role="tabpanel" aria-labelledby="list-special-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, autem hic voluptas praesentium aliquid quisquam. Dolorem illo aliquid, necessitatibus nostrum ratione, ea reprehenderit, odit repudiandae suscipit sed quod nihil. Necessitatibus, quod. Unde blanditiis laborum perferendis doloremque quae, illo provident sapiente commodi corrupti consectetur dolores hic recusandae, distinctio, excepturi repellat accusantium labore sint.</div>
          </div>
        </div>
        <div class="col-lg-2 col-12">
            <img style="width: 300px;" src="https://cdn.pixabay.com/photo/2016/09/15/19/24/salad-1672505_1280.jpg" alt="salad">
        </div>
      </div>
</div>